.highlights {
    padding: 40px 20px; /* Add some padding around the section */
    margin: 0 auto; /* Center the section */
    width: 85%; /* Set width to 2/3 of the page */
}

  
  .title {
    text-align: center; /* Center the title */
    font-size: 32pt; /* Font size for the title */
    margin-bottom: 20px; /* Space below the title */
    color: #090909;
    font-weight: 500; 
  }
  
  .columns {
    display: flex;
    justify-content: space-between;
    background-color: #f3efef;/* Space between columns */
  }
  
  .column {
    flex: 1; /* Each column takes equal space */
    text-align: center; /* Center the text */
    margin: 0 10px; /* Margin between columns */
  }
  
  .column-image {
    width: 100%; /* Full width of the column */
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 10px; /* Rounded edges */
  }
  
  
  .column-title {
    font-weight: bold; /* Make title bold */
    font-size: 24pt; /* Font size for column title */
    margin: 10px 0;
    font-family: 'Karla', sans-serif; /* Space above and below the title */
  }
  
  .column-description {
    font-size: 20pt; /* Font size for column description */
    color: #666;
    font-family: 'Karla', sans-serif; /* Optional: change color for contrast */
  }

  