.testimonials {
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    min-height: 541px;
    background-color: #042d23;
    border-radius: 15px;
}

.testimonial-title {
    font-size: 50pt;
    margin-bottom: 20px;
    color: #f4ce14;
    font-family: 'Markazi Text', serif;
}

.testimonial-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial-box {
    flex: 1;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stars {
    font-size: 20pt;
    margin-bottom: 10px;
}

.testimonial-content {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

.left-column {
    text-align: center;
}

.testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonial-name {
    margin-top: 10px;
}

.right-column {
    text-align: left;
}

.testimonial-quote {
    font-size: 16pt;
    color: #666;
}